<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.applications.kuyakoya.dia">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_foreground_closet"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_foreground_closet"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".newLogin">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NavigationActivity"
            android:label="@string/title_activity_navigation"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".about"
            android:label="@string/title_activity_about"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".manageClothes"
            android:label="@string/title_activity_manage_clothes"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".matchOutfit"
            android:label="@string/title_activity_match_outfit"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/title_activity_login" />
        <activity android:name=".HomeActivity" />
        <activity
            android:name=".SignUp"
            android:label="@string/title_activity_sign_up" />
        <activity android:name=".AddClothes" />
        <activity
            android:name=".DeleteClothes"
            android:label="@string/title_activity_delete_clothes"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".EditClothes"
            android:label="@string/title_activity_edit_clothes"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".ViewClothes"
            android:label="@string/title_activity_view_clothes"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".newSignUp"
            android:label="@string/title_activity_new_sign_up"
            android:theme="@style/AppTheme" />
        <activity android:name=".selectType" />
        <activity android:name=".showClothe" />
        <activity android:name=".upperClothes" />
        <activity android:name=".lowerClothes" />
        <activity android:name=".footwear"></activity>
    </application>

</manifest>